{% extends 'RegAcadBundle::layout.html.twig' %} 
{% block javascripts %}
    {{ parent() }}
<script language="JavaScript" src ="{{ asset('/bundles/regacad/js/PlanEstudio/registro.js') }}"> </script> 
{% endblock%}
{% block stylesheets %}    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/regacad/css/PlanEstudio/registro.css') }}" >
    {{ parent() }}
{% endblock%}
{% block  content %}
<h1>Registro de Plan de Estudio</h1>
<fieldset>
    <legend>Carrera</legend>
    {{ form_widget(form) }}
    </BR>
    Resumen:</BR>
</fieldset>

<div id="unidades_estudio" >
    <h2>Unidades de Estudio</h2>
    <input type="text" size="10" id="filtro"/><button id="filtrar">Filtrar</button>
    <ul id='gallery' class="gallery ui-helper-reset ui-helper-clearfix">    
    </ul>
</div>
<div id='plan_estudio'>
    <h2>Plan de Estudio</h2>
    <div id="ciclos">
        <h3><a href="#">Ciclo I. Unidades de estudio incluidas: <span id='data_ciclo1'>0</span></a></h3>
        <div class="ciclo" id='ciclo1'></div>
        <h3><a href="#">Ciclo II. Unidades de estudio incluidas: <span id='data_ciclo2'>0</span></a></h3>
        <div class="ciclo" id='ciclo2'></div>
        <h3><a href="#">Ciclo III. Unidades de estudio incluidas: <span id='data_ciclo3'>0</span></a></h3>
        <div class="ciclo" id='ciclo3'></div>
    </div>
</div>

<input type="hidden" id='ruta_plan_estudio_unidades_estudio' value="{{path('plan_estudio_unidades_estudio')}}" />
<div id="dialog-modal" title=""></div>
{% endblock%}